<a href="/articles/{{id}}" class="list-article__link">
        <div class="list-article__img pos-r">
                <img src="{{mainImg}}" alt="{{title}}">
                <div class="category-card pos-a">thể thao</div>
        </div>
        <div class="list-article__infor">
                <p class="list-article__title bold">{{title}}</p>
                <p class="list-article__content">{{abstract}}</p>
                <div class="list-article__extra">
                        <p class="author"><i class="fa-solid fa-pen "></i>
                                Tác giả</p>
                        <p class="time"><i class="fa-solid fa-clock"></i>
                                14/04/2023</p>
                </div>


                <ul id="list-article__tag">
                        <li class="list-tag__item">
                                <a href="#" class="list-tag__link">
                                        #Tag 1
                                </a>
                        </li>
                        <li class="list-tag__item">
                                <a href="#" class="list-tag__link">
                                        #Tag 2
                                </a>
                        </li>
                </ul>



        </div>

</a>