<img src="{{mainImg}}" alt="{{title}}" class="most-viewd__img">
<a href="/articles" class="most-viewd__link pos-a">
    <div class="most-viewd__infor">
        {{#each Categories}}
        <div class="category-card">{{name}}</div>
        {{/each}}
        <p class="most-viewd__title text-white font-title">
            {{title}}</p>
        <div class="most-viewd__extra d-flex justify-content-between">
            {{#with Writer}}
            <p class="author"><i class="fa-solid fa-pen "></i>{{User.name}}
            </p>
            {{/with}}
            <p class="time"><i class="fa-solid fa-clock"></i>
                {{publishDateNew}}</p>
        </div>
    </div>
</a>