<div id="article-social" class="sidebar__item mt-3">
    <p class="sidebar__item-title  ">Theo dõi chúng tôi</p>
    <ul id="article-social__list">
        <li class="article-social__item">
            <a href="#" class="article-social__link">
                <img src="/images/social-logo/facebook.png" alt="">
            </a>
        </li>
        <li class="article-social__item">
            <a href="#" class="article-social__link">
                <img src="/images/social-logo/google.png" alt="">
            </a>
        </li>
        <li class="article-social__item">
            <a href="#" class="article-social__link">
                <img src="/images/social-logo/zalo.png" alt="">
            </a>
        </li>
    </ul>

</div>
<div id="catogery" class="sidebar__item mt-3">
    <p class="sidebar__item-title ">Chuyên mục</p>
    <ul id="catogery__list">
        {{#each categoriesRightColumn}}
        <li class="category__item">
            <a href="/articles?category={{id}}" class="category__link text-uppercase hover">{{name}}
            </a>
            <p class="category_quantity">({{Articles.length}})</p>
        </li>
        {{/each}}
    </ul>

</div>
<div id="tag" class="sidebar__item mt-3">
    <p class="sidebar__item-title ">Thẻ</p>
    <ul id="tag__list" class="row">
        {{#each tagsRightColumn}}
        <li class="tag__item col-lg-6">
            <a href="/articles?tag={{id}}" class="tag__link hover">{{name}}</a>
        </li>
        {{/each}}
    </ul>

</div>