<ul id="sidebar" class="col-md-4 pc">
    <div id="related-article" class="sidebar__item mt-3">

        <p class="sidebar__item-title  ">Bài viết có liên quan</p>
        <ul id="related-article__list pc">
            <li class="related-article__item mt-3 ">
                <a href="#" class="related-article-item__link">
                    <img src="/images/articles/ID8_0.jpg" alt="" class="related-article-item__img">
                    <div class="related-article-item__infor">
                        <p class="related-article-item__title text-black bold">
                            Tiêu đề của bài
                            viết</p>
                        <p class="related-article-item__time ">
                            <i class="fa-solid fa-clock"></i>
                            08/04/2023
                        </p>

                    </div>
                </a>

            </li>
            <li class="related-article__item mt-3">
                <a href="#" class="related-article-item__link">
                    <img src="/images/articles/ID8_0.jpg" alt="" class="related-article-item__img">
                    <div class="related-article-item__infor">
                        <p class="related-article-item__title text-black bold">
                            Tiêu đề của bài
                            viết</p>
                        <p class="related-article-item__time ">
                            <i class="fa-solid fa-clock"></i>
                            08/04/2023
                        </p>

                    </div>
                </a>

            </li>
            <li class="related-article__item mt-3">
                <a href="#" class="related-article-item__link">
                    <img src="/images/articles/ID8_0.jpg" alt="" class="related-article-item__img">
                    <div class="related-article-item__infor">
                        <p class="related-article-item__title text-black bold">
                            Tiêu đề của bài
                            viết</p>
                        <p class="related-article-item__time ">
                            <i class="fa-solid fa-clock"></i>
                            08/04/2023
                        </p>

                    </div>
                </a>

            </li>
            <li class="related-article__item mt-3">
                <a href="#" class="related-article-item__link">
                    <img src="/images/articles/ID8_0.jpg" alt="" class="related-article-item__img">
                    <div class="related-article-item__infor">
                        <p class="related-article-item__title text-black bold">
                            Tiêu đề của bài
                            viết</p>
                        <p class="related-article-item__time ">
                            <i class="fa-solid fa-clock"></i>
                            08/04/2023
                        </p>

                    </div>
                </a>

            </li>
            <li class="related-article__item mt-3">
                <a href="#" class="related-article-item__link">
                    <img src="/images/articles/ID8_0.jpg" alt="" class="related-article-item__img">
                    <div class="related-article-item__infor">
                        <p class="related-article-item__title text-black bold">
                            Tiêu đề của bài
                            viết</p>
                        <p class="related-article-item__time ">
                            <i class="fa-solid fa-clock"></i>
                            08/04/2023
                        </p>

                    </div>
                </a>

            </li>



    </div>
    <div id="article-social" class="sidebar__item mt-3">
        <p class="sidebar__item-title  ">Theo dõi chúng tôi</p>
        <ul id="article-social__list">
            <li class="article-social__item">
                <a href="#" class="article-social__link">
                    <img src="/images/social-logo/facebook.png" alt="">
                </a>
            </li>
            <li class="article-social__item">
                <a href="#" class="article-social__link">
                    <img src="/images/social-logo/google.png" alt="">
                </a>
            </li>
            <li class="article-social__item">
                <a href="#" class="article-social__link">
                    <img src="/images/social-logo/zalo.png" alt="">
                </a>
            </li>
        </ul>

    </div>
    <div id="catogery" class="sidebar__item mt-3">
        <p class="sidebar__item-title ">Chuyên mục</p>
        <ul id="catogery__list">
            {{#each categories}}
            <li class="category__item">
                <a href="/articles?category={{id}}" class="category__link text-uppercase hover">{{name}}
                </a>
                <p class="category_quantity">({{Articles.length}})</p>
            </li>
            {{/each}}
        </ul>

    </div>
    <div id="tag" class="sidebar__item mt-3">
        <p class="sidebar__item-title ">Thẻ</p>
        <ul id="tag__list" class="row">
            {{#each tags}}
            <li class="tag__item col-lg-6">
                <a href="/articles?tag={{id}}" class="tag__link hover">{{name}}</a>
            </li>
            {{/each}}
        </ul>

    </div>
</ul>