<aside id="sidebar">
    {{#with user}}
    {{> ad-header}}
    {{/with}}

    <div class="line-separate"></div>
    <ul id="sidebar__list">
        <li class="sidebar__item"><a href="/admin" class="sidebar__link">Chuyên mục</a></li>
        <li class="sidebar__item"><a href="/admin/tag-management" class="sidebar__link">Nhãn</a></li>
        <li class="sidebar__item sidebar__item--active"><a href="" class="sidebar__link">Bài viết</a></li>
        <li class="sidebar__item"><a href="/admin/user-management" class="sidebar__link">Người dùng</a>
        </li>
        <li class="sidebar__item"><a href="/admin/category-assignment" class="sidebar__link">Phân công chuyên mục</a>
        </li>
        <li class="sidebar__item"><a href="/admin/account-renewal" class="sidebar__link">Gia hạn tài khoản</a></li>
    </ul>

</aside>
<main id="main">
    <p id="title">Danh sách bài viết</p>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-heading">
                    <div class="row">
                        <div class="col-sm-8">
                            <form id="search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" id="search-field" name="keyword" placeholder="Tìm kiếm bài viết...">
                            </form>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <a href="" class="button remove-btn" id="delete" onclick="removeArticles()">Xóa</a>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 5%;">
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th style="width: 36%;">Bài viết</th>
                            <th style="width: 17%;">Chuyên mục</th>
                            <th style="width: 17%;">Nhãn</th>
                            <th style="width: 15%;">Trạng thái <i class="fa-solid fa-caret-down"></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each allArticles}}
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="{{id}}">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>
                                <a href="/admin/article-management/{{id}}" class="list__link">
                                    <img src="{{mainImg}}" alt="">
                                    <p>{{title}}</p>
                                </a>
                            </td>
                            <td>{{category}}</td>
                            <td>{{tag}}</td>
                            {{#if isPublished}}
                            <td class="status published">Đã xuất bản</td>
                            <td>
                                <div class="d-flex table-control">
                                    <a href="" class="edit published"><i class="fa-solid fa-pencil"
                                            title="Chỉnh sửa"></i></a>
                                    <a href="" class="delete" onclick="removeArticle({{id}})"><i
                                            class="fa-solid fa-trash-can" title="Xóa"></i></a>
                                </div>
                            </td>
                            {{else}}
                            {{#if isRevise}}
                            <td class="status ">Chờ xuất bản</td>
                            {{else}}
                            <td class="status ">Chờ duyệt</td>
                            {{/if}}
                            <td>
                                <div class="d-flex table-control">
                                    <a href="" class="success publish" onclick="publishArticle({{id}})"><i
                                            class="fa-solid fa-arrow-up-right-from-square" data-toggle="tooltip"
                                            title="Xuất bản"></i></a>
                                    <a href="" class="delete" onclick="removeArticle({{id}})"><i
                                            class="fa-solid fa-trash-can" title="Xóa"></i></a>
                                </div>
                            </td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="clearfix">
                    <nav arie-label="Page navigation example" id="pagination">
                        {{{createPagination pagination paginationClass="" leftText="<" rightText=">" }}} </nav>
                </div>
            </div>
        </div>

        <p style="display: none;" id="idArticle"></p>
    </div>


</main>
<!-- Edit Modal HTML -->
{{!-- <div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                    class="fa-solid fa-xmark close-modal"></i></button>
            <form>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">Thêm chuyên mục</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div> --}}

<!-- PUBLISH Modal -->
{{!-- <div id="publishModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa-solid fa-xmark close-modal" aria-hidden="true"></i>
            </button>
            <p class="modal-title">Bạn có muốn xuất bản bài viết đã chọn?</p>
            <div class="modal-footer form-control">
                <button type="button" class="button success-btn" data-bs-dismiss="modal" onclick="publishArticle()">Xuất
                    bản</button>
                <button type="button" class="button cancel-btn" data-bs-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div> --}}

{{!-- STYLES --}}
<link rel="stylesheet" href="/styles/ad-main.css">

<link rel="stylesheet" href="/styles/ad-articleManagement.css">
{{!-- SCRIPTS --}}
<script type="module" src="/scripts/ad-main.js"></script>
<script src="/scripts/ad-artiles.js"></script>

<script>
    document.querySelectorAll('#pagination li').forEach((li, index) => {
        li.classList.add('pagination__item');
    });
    document.querySelectorAll('#pagination a').forEach((a, index) => {
        a.classList.add('pagination__link')
    });

    async function publishArticle(id) {
        if (confirm('Bạn chắc chắn muốn xuất bản bài viết này không?')) {
            await fetch('/admin/article-management', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ id })
            }).then(res => {
                if (res.ok) {
                    location.reload(); // Reload lại trang khi nhận được phản hồi thành công
                }
            }).catch(error => {
                console.log('Error:', error);
            });
        }
    }

    async function removeArticle(id) {
        if (confirm('Bạn có chắc chắn muốn xóa bài viết này?')) {
            await fetch(`/admin/article-management`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ id, type: 1 })
            }).then(res => {
                if (res.ok) {
                    location.reload(); // Reload lại trang khi nhận được phản hồi thành công
                }
            }).catch(error => {
                console.log('Error:', error);
            });
        }
        else {
            location.reload();
        }
    }

    async function removeArticles() {
        const checkbox = [];
        let idArticles = [];
        const tmp = document.querySelectorAll('table tbody input[type="checkbox"]');
        [...tmp].forEach((element) => checkbox.push(element));
        checkbox.forEach((element) => {
            if (element.checked) {
                idArticles.push(element.value);
            }
        });
        if (idArticles.length > 0) {
            if (confirm('Bạn có chắc chắn muốn xóa những bài viết này?')) {
                await fetch(`/admin/article-management`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({ idArticles, type: 2 })
                }).then(res => {
                    if (res.ok) {
                        location.reload(); // Reload lại trang khi nhận được phản hồi thành công
                    }
                }).catch(error => {
                    console.log('Error:', error);
                });
            }
        }
        else {
            alert('Vui lòng chọn các bài viết muốn xóa!');
        }
    }
</script>