<aside id="sidebar">
    {{#with user}}
    {{> ad-header}}
    {{/with}}

    <div class="line-separate"></div>
    <ul id="sidebar__list">
        <li class="sidebar__item sidebar__item--active"><a href="" class="sidebar__link">Chuyên mục</a></li>
        <li class="sidebar__item">
            <a href="/admin/tag-management" class="sidebar__link">Nhãn</a>
        </li>
        <li class="sidebar__item "><a href="/admin/article-management" class="sidebar__link">Bài viết</a></li>
        <li class="sidebar__item"><a href="/admin/user-management" class="sidebar__link">Người dùng</a>
        </li>
        <li class="sidebar__item"><a href="/admin/category-assignment" class="sidebar__link">Phân công chuyên mục</a>
        </li>
        <li class="sidebar__item"><a href="/admin/account-renewal" class="sidebar__link">Gia hạn tài khoản</a></li>
    </ul>

</aside>
<main id="main">
    <p id="title">Danh sách chuyên mục</p>
    <div class="container-fluid px-3 py-4">
        <div class="row px-0 mx-0 py-3 rounded-top d-flex justify-content-between" style="background-color: #435d7d;">
            <div class="col-lg-5 px-4">
                <form id="search" class="w-100">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="search-field" name="keyword" placeholder="Tìm kiếm chuyên mục..." required>
                </form>
            </div>

            <div class="col-lg-5 px-0 d-flex justify-content-end">
                <div class="col-lg-5 px-0">
                    <a href="" class="button add-btn" id="add" data-bs-toggle="modal"
                        data-bs-target="#addModal">Thêm</a>
                </div>

                <div class="col-lg-5 px-0 mx-2">
                    <a href="" class="button remove-btn" id="delete" onclick="removeCategories()">Xóa</a>
                </div>
            </div>
        </div>
        <div class="table-responsive bg-white mt-0 px-3 py-3 rounded-bottom">
            <table class="table table-hover" id="myTable" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%" class="text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th scope="col" style="width: 45%;">Tên</th>
                        <th scope="col" style="width: 40%;">Thuộc chuyên mục</th>
                        <th scope="col" style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allCategories}}
                    <tr class="">
                        <td class="text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="{{id}}">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="category__name">
                            <p class="font-weight-bold">{{name}}</p>
                        </td>
                        {{#if parent}}
                        <td class="category__parent">
                            <p class="font-weight-bold">{{parent.name}}</p>
                        </td>
                        {{else}}
                        <td class="category__parent">
                            <p class="font-weight-bold"></p>
                        </td>
                        {{/if}}
                        <td>
                            <div class="d-flex table-control">
                                <a href="" class="edit" data-bs-toggle="modal" data-bs-target="#editModal"
                                    onclick="getIdCate({{id}})"><i class="fa-solid fa-pencil"></i></a>
                                <!-- Edit Modal HTML -->
                                <div id="editModal" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                                <i class="fa-solid fa-xmark close-modal" aria-hidden="true"></i>
                                            </button>
                                            <p class="modal-title">Chỉnh sửa tên chuyên mục</p>
                                            <form action="" class="form-edit" method="post">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="category__name--edit">Nhập tên mới</label>
                                                        <input type="text" name="newCateNameEdit"
                                                            id="category__name--edit" class="p-2 w-100" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="category__parent--edit">Chọn chuyên mục cha</label>
                                                        <select name="cateParentEdit" id="category__parent--edit">
                                                            <option value="0" selected>--Đây là chuyên mục cấp 1--
                                                            </option>
                                                            {{#each ../parentCategories}}
                                                            <option value="{{id}}">{{name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="button success-btn"
                                                        data-bs-dismiss="modal"
                                                        onclick="updateCategory(document.getElementById('category__name--edit').value, document.getElementById('category__parent--edit').value)">Cập
                                                        nhập</button>
                                                    <button type="button" class="button cancel-btn"
                                                        data-bs-dismiss="modal">Hủy bỏ</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="delete"><i class="fa-solid fa-trash-can"
                                        onclick="removeCate({{id}})"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="clearfix">
                <nav arie-label="Page navigation example" id="pagination">
                    {{{createPagination pagination paginationClass="" leftText="<" rightText=">" }}} </nav>
            </div>
        </div>

        <p style="display: none;" id="idCategory"></p>
    </div>


</main>

<!-- Add Modal HTML -->
<div id="addModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa-solid fa-xmark close-modal" aria-hidden="true"></i>
            </button>
            <p class="modal-title">Thêm chuyên mục mới</p>
            <form action="" class="form-add" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category__name--add" class="form-label">Nhập tên của chuyên mục mới</label>
                        <input type="text" name="newCateName" id="category__name--add" class="p-2 w-100" required>
                    </div>
                    <div class="form-group">
                        <label for="category__parent--add">Chọn chuyên mục cha</label>
                        <select name="parentCate" id="category__parent--add">
                            <option value="0" selected>--Đây là chuyên mục cấp 1--</option>
                            {{#each parentCategories}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="button success-btn" data-bs-dismiss="modal"
                        onclick="addNewCategory(document.getElementById('category__name--add').value, document.getElementById('category__parent--add').value)">Hoàn
                        tất</button>
                    <button type="button" class="button cancel-btn" data-bs-dismiss="modal">Hủy bỏ</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/styles/ad-main.css">
<link rel="stylesheet" href="/styles/ad-userManagement.css">
<link rel="stylesheet" href="/styles/ad-categoryManagement.css">
<script type="module" src="/scripts/ad-main.js"></script>
<script type="module" src="/scripts/ad-category.js"></script>

<script>
    document.querySelectorAll('#pagination li').forEach((li, index) => {
        li.classList.add('pagination__item');
    });
    document.querySelectorAll('#pagination a').forEach((a, index) => {
        a.classList.add('pagination__link')
    });

    function getIdCate(id) {
        document.getElementById('idCategory').innerHTML = id;
    }

    async function addNewCategory(newCateName, parentCate) {
        await fetch('/admin', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({ newCateName, parentCate })
        }).then(res => {
            if (res.ok) {
                location.reload(); // Reload lại trang khi nhận được phản hồi thành công
            }
        }).catch(error => {
            console.log('Error:', error);
        });
    }

    async function updateCategory(newTagNameEdit, cateParentEdit) {
        let id = document.getElementById('idCategory').innerHTML;
        await fetch('/admin', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({ id, newTagNameEdit, cateParentEdit })
        }).then(res => {
            if (res.ok) {
                location.reload(); // Reload lại trang khi nhận được phản hồi thành công
            }
        }).catch(error => {
            console.log('Error:', error);
        });
    }

    async function removeCate(id) {
        if (confirm('Bạn có chắc chắn muốn xóa chuyên mục này?')) {
            await fetch(`/admin`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ id, type: 1 })
            }).then(res => {
                if (res.ok) {
                    location.reload(); // Reload lại trang khi nhận được phản hồi thành công
                }
            }).catch(error => {
                console.log('Error:', error);
            });
        }
        else {
            location.reload();
        }
    }

    async function removeCategories() {
        const checkbox = [];
        let idCategories = [];
        const tmp = document.querySelectorAll('table tbody input[type="checkbox"]');
        [...tmp].forEach((element) => checkbox.push(element));
        checkbox.forEach((element) => {
            if (element.checked) {
                idCategories.push(element.value);
            }
        });
        if (idCategories.length > 0) {
            if (confirm('Bạn có chắc chắn muốn xóa những chuyên mục này?')) {
                await fetch(`/admin`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({ idCategories, type: 2 })
                }).then(res => {
                    if (res.ok) {
                        location.reload(); // Reload lại trang khi nhận được phản hồi thành công
                    }
                }).catch(error => {
                    console.log('Error:', error);
                });
            }
        }
        else {
            alert('Vui lòng chọn các chuyên mục muốn xóa!');
        }
    }
</script>