<ul id="breadcrumb">
        <li class="breadcrumb__item">
                <a href="/" class="breadcrumb__link hover">Trang chủ

                </a>
        </li>
        <li class="breadcrumb__item"> ›› <a href="" class="breadcrumb__link  breadcrumb__link--active hover">Duyệt bài
                        viết</a>
        </li>

</ul>
<main id="app__body">
        <div class="container-fluid mb-5">

                <div class="heading">
                        <h1 class="mt-4 fw-bold">Duyệt bài viết</h1>
                        <hr>
                </div>

                <div class="container d-flex flex-column align-items-center">
                        <h4 id="title" class="border rounded">
                                Bài viết chờ được duyệt
                        </h4>

                        <div id="list-article"
                                class="w-100 d-flex flex-column justify-content-center border rounded mt-3 mb-4 p-4">
                                {{#each articlesOfEditor}}
                                <a class="list__item w-100 d-flex justify-content-around border rounded p-3"
                                        href="/editor/{{id}}">
                                        <img src="{{mainImg}}" alt="{{title}}" class="col-md-2">
                                        <div class="col-md-9 d-flex flex-column justify-content-between">
                                                <div class="d-flex flex-column">
                                                        <p class="text-black bold mb-2">{{title}}</p>
                                                        <p class="text-second mb-2">{{abstract}}
                                                        </p>
                                                </div>

                                                <p class="list__item-time align-self-end text-second"><i
                                                                class="fa-solid fa-clock"></i>
                                                        {{publishDateNew}}
                                                </p>
                                        </div>
                                </a>
                                {{/each}}
                        </div>

                        <nav arie-label="Page navigation example" id="pagination">
                                {{{createPagination pagination paginationClass="" leftText="<" rightText=">" }}} </nav>
                </div>
        </div>

</main>
{{!-- STYLES --}}

<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/authentication.css">
<link rel="stylesheet" href="/styles/browsingList.css">

<script>
        document.querySelectorAll('#pagination li').forEach((li, index) => {
                li.classList.add('pagination__item');
        })
        document.querySelectorAll('#pagination a').forEach((a, index) => {
                a.classList.add('pagination__link')
        })
</script>