<main id="app__body">
    <div id="slider">
        <p class="category-card text-uppercase">nổi bật</p>
        {{#each mostArticleInWeek}}
        <div class="my-slide">
            <a href="/articles">
                <img src="{{mainImg}}">
                <div class="slider__caption">
                    <p>{{abstract}}</p>
                </div>
            </a>
        </div>
        {{/each}}
        <i class="control fa-solid fa-chevron-left"></i>
        <i class=" control fa-solid fa-chevron-right"></i>

    </div>
    <div id="new">
        <header class="heading-title text-uppercase">Mới nhất

            <a href="/articles?sort=1" class="heading-title__link">Xem thêm +</a>
        </header>
        <div class="row">
            {{#each newestArticle}}
            <div class="col-md-6 ">
                <a href="/articles" class="new-article square pos-r">
                    <img src="{{mainImg}}" alt="{{title}}" class="new-article__img ">
                    <div class="new__infor">
                        <div class="w-100">
                            {{#each Categories}}
                            <div class="category-card">{{name}}</div>
                            {{/each}}
                            <p class="new-article__title font-title text-white">
                                {{title}} </p>
                            <div class="new-article__extra d-flex justify-content-between">
                                {{#with Writer}}
                                <p class="author "><i class="fa-solid fa-pen "></i>
                                    {{User.name}}</p>
                                {{/with}}
                                <p class="time "><i class="fa-solid fa-clock"></i>
                                    {{publishDateNew}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>

    </div>
    <div class="row">
        <!-- The most viewd post -->
        <div id="most-viewed" class="col-md-7">
            <header class="heading-title text-uppercase">Xem nhiều nhất

                <a href="/articles?sort=2" class="heading-title__link">Xem thêm +</a>
            </header>
            <ul class="most-viewd__list d-flex-column ">
                {{#each mostArticle}}
                <li class="most-viewd__item mt-3 pos-r">
                    {{>mostViewdArticle-item}}
                </li>
                {{/each}}
            </ul>
        </div>
        <ul id="categories" class=" col-md-5 ">
            <div class="row">
                {{#each newestArticleOfEachCategory}}
                <li class="categories-item col-md-12 col-sm-6 ">
                    <header class="categories-item__heading font-size text-uppercase text-white">
                        {{name}}</header>
                    {{#if children.length}}
                    <div class="categories-item__body">
                        {{#each children}}
                        <div class="categories-item__item ">
                            <header class="categories-item__item-heading text-uppercase text-black">
                                {{name}}</header>
                            {{#each Articles}}
                            {{>categories-item}}
                            {{/each}}
                            <div class="categories-btn">
                                <a href="/articles?category={{id}}&sort=1"><button class="btn-primary ">Xem
                                        thêm</button></a>
                            </div>

                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div class="categories-item__body">
                        {{#each Articles}}
                        {{>categories-item}}
                        {{/each}}
                        <div class="categories-btn">
                            <a href="/articles?{{id}}&sort=1"><button class="btn-primary ">Xem
                                    thêm</button></a>
                        </div>
                    </div>
                    {{/if}}

                </li>
                {{/each}}
            </div>
        </ul>
    </div>

</main>
{{!-- STYLES --}}
<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/authentication.css">
<link rel="stylesheet" href="styles/home.css">
{{!-- SCRIPT --}}
<script src="scripts/home.js"></script>